<div class="todo-container">
    <app-todo-add></app-todo-add>

    <div class="todo-list">
        <ng-container *ngIf="todos$ | async as todos">
            <div *ngIf="todos.length === 0" class="no-todos">
                <p>No tasks yet. Add your first task to get started!</p>
            </div>
            <div
                *ngFor="let todo of todos"
                class="todo-item"
                [class.completed]="todo.completed"
            >
                <ejs-checkbox
                    [checked]="todo.completed"
                    (change)="toggleTodo(todo)"
                >
                </ejs-checkbox>
                <span class="description">{{ todo.description }}</span>
            </div>
        </ng-container>
    </div>
</div>
