<div class="task-explorer-container">
    <div class="header">
        <h1>Task Explorer</h1>
    </div>

    <div class="content">
        <div class="loading-spinner" *ngIf="isLoading">
            <div class="spinner"></div>
            <span>Loading...</span>
        </div>
        <ejs-treeview
            #tree
            [fields]="field"
            [showCheckBox]="showCheckBox"
            (nodeChecked)="onNodeChecked()"
            (nodeExpanding)="onTaskExpanded($event)"
            (nodeCollapsed)="onTaskCollapsed($event)"
        ></ejs-treeview>
    </div>
</div>
