<div class="col-lg-12 default-appbar-section">
    <div class="default-appbar-container">
        <div class="row">
            <div class="col-md-12">
                <ejs-appbar colorMode="Primary">
                    <span class="regular">Quantellia</span>
                    <div class="e-appbar-spacer"></div>
                    <button
                        ejs-button
                        cssClass="e-inherit login"
                        [routerLink]="['/login']"
                    >
                        Login
                    </button>
                </ejs-appbar>
            </div>
        </div>
    </div>
</div>
